

body {background-color: #f5f5dd;}


.square1,.square2,.square3,.square4 {
    
    height: 150px;
    width: 150px;
    background-color: rgb(0, 0, 0);
    margin: auto;
    
}

.square2{
    background-color: rgba(0, 0, 0, 0.712);
}
.square3{
    background-color: rgba(0, 0, 0, 0.37);
}
.square4{
    background-color: rgba(0, 0, 0, 0.11);
}

